In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import binascii

# Categories.csv

In [ ]:
categories = pd.read_csv('./raw_data/categories.csv')

In [ ]:
print(categories.head())

In [ ]:
# The "picture" column seems to be in Hex format. Let's try to convert it to an actual BMP

picture_binary = picture_binary = categories['picture'].apply(lambda x: binascii.hexlify(x[:2].encode()) if x.startswith('0x') else binascii.hexlify(x.encode()))

with open("output_image.bmp", "wb") as image_file:
    image_file.write(picture_binary[0])

# Hm, the bmp is bogus and there is actually just one string for all categories. Probably it's some kind of placeholder / mock-up then?
categories['picture'].value_counts()

# Customers.csv

In [18]:
customers = pd.read_csv('./raw_data/customers.csv')

In [19]:
customers.head()

,customerID,companyName,contactName,contactTitle,address,city,region,postalCode,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,NaN,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,NaN,05023,Mexico,(5) 555-3932,NaN
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,NaN,S-958 22,Sweden,0921-12 34 65,0921-12 34 67

Let's try to dissect the individual columns:
- **customerID**: There seems to be no clear logic to how exactly this ID comes about. Sometimes it is the first 5 characters straight, sometimes it is three from the first word, sometimes it is four from the first word. Might be human-created. It will be quite difficult to auto-generate this ID and—if human-created—it will be tedious to figure out if a possible ID for a new customer is already present in the data or not. **We might have to create a more auto-generatable ID schema to use that as a primary key in our models later!**
- **companyName** / **contactName**: These are proper names and as such they are usually sprinkled with special characters. We need to pay attention to the encoding and maybe consider removing/transliterating some of them.
- **contactTitle**: No comments.
- **address** / **city**: Again, we need to pay attention to the special characters.
- **region**: Contains a lot of missing values. Probably some problem with how the data was created. In a real-life scenario, I would follow-up with upstream actors to clarify the inconsistency, because we know for a fact that e.g. both Germany and France do have regions.
- **postalCode**: